* {
    margin: 0;
    
}
body {
    background: lightblue;
}
header {
    text-align: center;
    background: grey;
    /* color: black; */
    padding-top: 20px;
}

.search-card {
    height: 20vh;
    width: 30%;
    border: 5px solid black;
    float: left;
    margin-left: 15px;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;

}

.results-card {
    height: 20vh;
    width: 60%;
    border: 5px solid black;
    float: right;
    margin-right: 15px;
    padding-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
}
h3 {
    padding: 10px;
}

.five-day-forecast {
   display: inline;
    justify-content: center;
    padding-top: 20%;
    border: 2px solid black;

}
.card-forecast {
    height: 20px;


}
.row {
    width: 100%;
    margin: 20vw auto;
    justify-content: space-around;
  }
  .block {
    width: 100px;
    height: 200px;
    float: left;
    margin: 15px;
    border: 2px solid black;
    justify-content: space-between;
  }
  .content
.forecast-container{
    border-bottom: 1px solid black;
}
/* Seattle */